@import url('https://fonts.googleapis.com/css2?family=Combo&family=Courgette&family=Megrim&family=Montserrat+Alternates&family=Nunito+Sans:wght@500;700&family=Open+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@300;600&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  color: white;
  background-color: #2D033B;
  font-size: 1.5em;
}

img{
  width:200px;
  height:200px;
}